/* 
    Document   : main.css
    Created on : 19-Aug-2010, 18:19:16
    Author     : sam
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#lbakut_widget {
    overflow: auto;
}
#lbakut_browser_widget {
    overflow: auto;
}
#lbakut_os_widget {
    overflow: auto;
}
#lbakut_pageviews_widget {
    overflow: auto;
}

.lbakut_pages {
    margin-left: auto;
    margin-right: auto;
    font-size: 10px;
}
.lbakut_pages a {
    color: white;
    text-decoration: none;
}
.lbakut_pages a:hover {
    background: #777777;
}

.lbakut_page {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #999999;
    border: 1px solid #444444;
    color: white;
    text-decoration: none;
    margin: 2px;
}

.lbakut_page_selected {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #555555;
    border: 1px solid #444444;
    color: white;
    text-decoration: none;
    margin: 2px;
}

/* tooltip styling. by default the element to be styled is .tooltip  */
.lbakut_tooltip {
    display:none;
    background: #555555;
    opacity: 0.8;
    filter: alpha(opacity=80);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    font-size:12px;
    height: auto;
    width:auto;
    max-width: 300px;
    padding:12px;
    color:#fff;
}
.lbakut_tooltip a {
    font-weight: bold;
    color: #ffaa00;
    text-decoration: none;
}
.lbakut_tooltip a:hover {
    color: #ff8800;
}