/* 
    Document   : main.css
    Created on : 19-Aug-2010, 18:19:16
    Author     : sam
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#lbakut_widget {
    overflow: auto;
    color: #ff0000;
    width: 50px;
}